cycler==0.10.0
inputs==0.5
keyboard==0.13.3
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.16.4
pkg-resources==0.0.0
pynput==1.4.2
pyparsing==2.4.0
PyQt5==5.13.0
PyQt5-sip==4.19.18
pyqtgraph==0.10.0
python-dateutil==2.8.0
python-xlib==0.25
six==1.12.0
